body {
    background-color: lightslategray;
}

form, header {
    max-width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
}

.table {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: lightseagreen;
    border-radius: 10px;
}


.table th { 
    border-top: none; 
}


.trStyle:hover {
    background-color: aquamarine;
}

.addContainer {
    position: relative;
    top:15px;
    margin-left: 50%;
    margin-bottom: 50px;
}

#addAddress {
    color: green;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(64, 14, 156);
    margin-left: 80%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

#updateForm {
    position: fixed;
    top: 40%;
    border: 5px solid rgb(64, 14, 156);
    border-radius: 15px;
    background-color: beige;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.box {
    background:rgb(207, 175, 175, 0.8);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    visibility: hidden;
  }

  .box button {
    float: right;
    margin-left: 20px;
  }

  .fa-rectangle-xmark {
    color: white;
  }

  .search {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }

